{% extends './baselogin.html' %}
{% block title %}Get Info{% endblock %}
{% block customCSS %}
    
{% endblock %}
{% block body %}
    <h3>Bienvenido</h3>
    <form action="/login" method="POST">

        
        <div class="input-box">
            <input type="text" name="username" placeholder="nombre de usuario" class="input-control" id="usuario" autocomplete="username">
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="password" class="input-control" id="contraseña" autocomplete="current-password">
             <div class="input-link">
                 <a href="recuperar.html" class="gradient-text">Has olvidado la contraseña?</a>
            </div>
        </div>
        <button type="submit" class="btn" onclick="login()">Iniciar sesión</button> 
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br />
        {% for message in messages %}
             <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
   <p>No tienes una cuenta? <a href="{{ url_for ('signup_create') }}" class="gradient-text">Crear cuenta</a></p>

{%endblock%}
