{% extends './baselogin.html' %}
{% block title %}Crear cuenta{% endblock %}
{% block body %}
<h3>Crear cuenta</h3>
<form method="POST" action="/signup">
    <div class="input-box">
        <input type="text" name="username" placeholder="nombre de usuario" maxlength="255" required class="input-control">
    </div>
    <div class="input-box">
        <input type="text" name="fullname" placeholder="nombre completo" maxlength="255" required class="input-control">
     </div>
    <div class="input-box">
        <input type="password" name="password" placeholder="Contraseña" class="input-control">
    </div>
    <button type="submit" class="btn">Crear cuenta</button>
</form>
<p>Ya tienes una cuenta? <a href="{{ url_for('login') }}" class="gradient-text">Iniciar sesión</a></p>
{% endblock %}