@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
	--primario: #e23939;
	--gris-claro: #B8B8B8;
	--sombra: 0 0 13px 0 rgba(185,185,185, .25);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar-dark .navbar-nav .nav-link {
    color: #252222 !important; /* Cambia el color del texto a negro (#000) */
}

.navbar-nav .nav-item .nav-link {
    transition: background-color 0.5s; /* Transición solo para el color de fondo */
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    background-color: #3e3ee9; /* Color de fondo al pasar el mouse o activo */
}

/* Estilos personalizados para el sombreado inferior del navbar */
.navbar {
    box-shadow: 0 4px 6px -6px #000;
}


main {
    max-width: 1000px;
	width: 90%;
	margin: 40px auto;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    background-color: #fff;
    padding: 50px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    border-radius:25px;
}

.form h2{
    text-align: center;
    color: #2f4ccd;
    font-size: 25px;
}

.input-group{
    display: flex;
    flex-direction: column;
}
.form-txt {
    text-align: center;
}

textarea {
    font-size: 15px;
    border-radius: 10px;
}

.form .btn{
    font-size: 20px;
    border-radius: 5px;
}

.contenedor-preguntas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.contenedor-pregunta{
    background: #fff;
    padding: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor-pregunta:hover{
    box-shadow: var(--sombra);
}

.contenedor-pregunta.activa{
    border: 2px solid var(--primario);
}

.preguntas-frecuentes{
	margin: 40px;
}

.preguntas h2{
    text-align: center;
    color: #2f4ccd;
    font-size: 25px;
}

.pregunta {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.respuesta {
	color: #808080;
	line-height: 30px;
	max-height: 0;
	opacity: 0;
	transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta {
	opacity: 1;
	margin-top: 20px;
}

.contenedor-pregunta.activa img {
	transform: rotate(45deg);
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center; /
}


.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea-container textarea {
    font-size: 15px;
    border-radius: 10px;
    width: 100%; 
    margin: 10px 0; 
}

.form .btn {
    font-size: 20px;
    border-radius: 5px;
    border-color: #141414;
}

textarea {
    padding: 10px; 
}


/* estilo personalizado de la targeta para la pregunta */

.card-header-right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(231, 240, 111);
    padding: 5px 10px;
    border-radius: 0 0 0.25rem 0;
    font-size: 12px;
    margin-bottom: 15px; /* Aumenta la separación con la descripción */
}
.card-body {
    margin-top: 15px; /* Aumenta la separación con la fecha */
}
.btn-margin {
    margin-top: 10px; /* Espaciado entre botones y la descripción */
}

footer {
    box-shadow: 0 4px 6px -6px #000;
    background-color: #2f4ccd;
    color: #141414;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Altura del footer, ajusta según necesites */
    text-align: center;
    padding: 10px 0;
}
@media (max-width: 768px) {
    
    .textarea-container textarea {
        width: 100%; 
    }
    footer {
        position: static;
    }
}
